<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>New Ninjas</title>
</head>
<body>
    <h1>New Ninja</h1>
    <div class="container">
        <form action="/create_ninja" method="POST">
            <label for="dojos">Dojo:</label>
           <select name="dojo_id" id="dojos">
                {% for dojo in all_dojos %},
                <option value="{{dojo.id}}">{{dojo.name}}</option>
                {% endfor %}
            </select>
            <label for="first_name">First name:</label>
            <input type="text" id="first_name" name="first_name" value="">
            <label for="last_name">Last name:</label>
            <input type="text" id="last_name" name="last_name" value="">
            <input type="submit" value="Create">
        </form>
        <div class="container">
            <a href="/">Home</a>
        </div>

    </div>
</body>
</html>